<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/play.css">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/menu.ejs') %>

    <div class="container">
        <%- include('./partials/header.ejs') %>

        <div class="game-container">

           
            <img src="/images/targets/<%= targetPic %>" alt="target pic">

            <div class="pieces-container">
                <% for(let i = 0; i < pieces.length; i++) { %>
                    <img src="<%= pieces[i] %>" alt="piece">    
                <% } %>
            </div>

        </div>

        <%- include('./partials/footer.ejs') %>
    </div>

    <script src="/js/menu-operations.js" defer></script>
    <script>
        $(document).ready(function() {
            let images = $('.pieces-container>img')
            images.draggable()
        })
    </script>
</body>
</html>